In [0]:
import numpy as np         # linear algebra
import sklearn as sk       # machine learning
import pandas as pd        # reading in data files, data cleaning
import matplotlib.pyplot as plt   # for plotting
import seaborn as sns      # visualization tool

file_id = '172V7yK-DjsxoaejDlOEl9S1R4A_GdP7U'
link = 'https://drive.google.com/uc?export=download&id={FILE_ID}'
csv_url = link.format(FILE_ID = file_id)

data = pd.read_csv(csv_url)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 4 columns):
Gender    500 non-null object
Height    500 non-null int64
Weight    500 non-null int64
Index     500 non-null int64
dtypes: int64(3), object(1)
memory usage: 15.7+ KB

In [0]:
data.head()

   Gender  Height  Weight  Index
0    Male     174      96      4
1    Male     189      87      2
2  Female     185     110      4
3  Female     195     104      3
4    Male     149      61      3

        0 - extremely weak
        1 - weak
        2 - normal
        3 - overweight
        4 - obese
        5 - extremely obese

In [0]:
data['Sex'] = data['Gender']
data['Sex'].replace(['Female', 'Male'], [0, 1], inplace=True)

data.head()

   Gender  Height  Weight  Index  Sex
0    Male     174      96      4    1
1    Male     189      87      2    1
2  Female     185     110      4    0
3  Female     195     104      3    0
4    Male     149      61      3    1

In [0]:
height_m = 0.01 * data['Height'] 
data['BMI'] = data['Weight'] / height_m**2

data.head()

   Gender  Height  Weight  Index  Sex        BMI
0    Male     174      96      4    1  31.708284
1    Male     189      87      2    1  24.355421
2  Female     185     110      4    0  32.140248
3  Female     195     104      3    0  27.350427
4    Male     149      61      3    1  27.476240

In [0]:
def z_trans(data):
  return (data - data.mean()) / data.std()

data['H'] = z_trans(data['Height'])
data['W'] = z_trans(data['Weight'])

data.head()

   Gender  Height  Weight  Index  Sex        BMI         H         W
0    Male     174      96      4    1  31.708284  0.247691 -0.308808
1    Male     189      87      2    1  24.355421  1.163707 -0.586735
2  Female     185     110      4    0  32.140248  0.919436  0.123523
3  Female     195     104      3    0  27.350427  1.530113 -0.061762
4    Male     149      61      3    1  27.476240 -1.279003 -1.389635

In [0]:
X = data[['Sex', 'H', 'W']]
y = data['Index']

# using 20% of the data for our test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state=0)

In [0]:
# X holds the data used to predict the labels y
X_train.head()

     Sex         H         W
107    1 -0.668325  1.482277
336    0 -0.179783  1.451396
71     1  0.491962  0.339689
474    0 -0.179783 -0.833781
6      1 -1.401138 -0.432331

In [0]:
# corresponding labels
y_train.head()

107    5
336    5
71     4
474    3
6      5
Name: Index, dtype: int64

In [0]:
from sklearn import linear_model

lm = linear_model.LinearRegression()
model = lm.fit(X_train, y_train)

# coefficient of determination, R^2
# the proportion of the variation in the data that was explained by linear model
print('Training set R^2 =', lm.score(X_train, y_train))
print('Test set R^2 =', lm.score(X_test, y_test))

Training set R^2 = 0.8278521846218956
Test set R^2 = 0.816823952075908

In [0]:
print('the coefficients =', lm.coef_)
print('the intercept =', lm.intercept_)

the coefficients = [ 0.00208042 -0.5639624   1.09752865]
the intercept = 3.7385774612255336

In [0]:
X = data[['H', 'W']]
y = data['Index']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state=0)

lm = linear_model.LinearRegression()
model = lm.fit(X_train, y_train)

print('Training set R^2 =', lm.score(X_train, y_train))
print('Test set R^2 =', lm.score(X_test, y_test))

print('the coefficients =', lm.coef_)
print('the intercept =', lm.intercept_)

old_coef = lm.coef_
old_int = lm.intercept_

Training set R^2 = 0.8278516070326984
Test set R^2 = 0.8167131841611407
the coefficients = [-0.5639695   1.09756578]
the intercept = 3.739566020220715

In [0]:
data['zBMI'] = z_trans(data['BMI']);

data.head()

   Gender  Height  Weight  Index  Sex        BMI         H         W      zBMI
0    Male     174      96      4    1  31.708284  0.247691 -0.308808 -0.433708
1    Male     189      87      2    1  24.355421  1.163707 -0.586735 -0.960205
2  Female     185     110      4    0  32.140248  0.919436  0.123523 -0.402777
3  Female     195     104      3    0  27.350427  1.530113 -0.061762 -0.745750
4    Male     149      61      3    1  27.476240 -1.279003 -1.389635 -0.736741

In [0]:
X = data[['H', 'W', 'zBMI']]
y = data['Index']

X.head()

          H         W      zBMI
0  0.247691 -0.308808 -0.433708
1  1.163707 -0.586735 -0.960205
2  0.919436  0.123523 -0.402777
3  1.530113 -0.061762 -0.745750
4 -1.279003 -1.389635 -0.736741

In [0]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state=0)

lm = linear_model.LinearRegression()
model = lm.fit(X_train, y_train)

print('Training set R^2 =', lm.score(X_train, y_train))

Training set R^2 = 0.8681347833806468

In [0]:
print('Test set R^2 =', lm.score(X_test, y_test))

print('the coefficients =', lm.coef_)
print('the intercept =', lm.intercept_)

Test set R^2 = 0.8622364242913599
the coefficients = [-1.36163897  2.34525421 -1.4924088 ]
the intercept = 3.743046281451956

In [0]:
X = data[['H', 'W', 'zBMI']]
y = data['Index']

X.head()

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state=0)

lm = linear_model.LinearRegression()
model = lm.fit(X_train, y_train)

print('Training set R^2 =', lm.score(X_train, y_train))
print('Test set R^2 =', lm.score(X_test, y_test))

print('the coefficients =', lm.coef_)
print('the intercept =', lm.intercept_)

Training set R^2 = 0.8681347833806468
Test set R^2 = 0.8622364242913599
the coefficients = [-1.36163897  2.34525421 -1.4924088 ]
the intercept = 3.743046281451956


$$ L(h,w,b) = \frac{1}{2n}\sum_{i=1}^n \left( y_i-(h h_i +w w_i+ b) \right)^2$$

$$  \quad\quad= \frac{1}{2n}\sum_{i=1}^n \left( y_i- h h_i - w w_i - b \right)^2$$

\

$$\nabla L(h,w,b)=
-\frac{1}{n}
\begin{bmatrix}
\sum_{i=1}^n (y_i - hh_i-ww_i-b)\cdot h_i  \\
\sum_{i=1}^n (y_i - hh_i-ww_i-b)\cdot w_i  \\
\sum_{i=1}^n (y_i - hh_i-ww_i-b)
\end{bmatrix}$$

In [0]:
# Mean Squared Error
def gradient(y, H, W, h, w, b):
  loss = y - h*H - w*W - b
  h = loss*H
  w = loss*W
  b = loss
  return h, w, b


def delL(y, H, W, h, w, b):
  data_size = 500
  sum_h, sum_w, sum_b = 0, 0, 0
  
  for i in range(data_size):
    h1, w1, b1 = gradient(y[i], H[i], W[i], h, w, b)
    sum_h += h1
    sum_w += w1
    sum_b += b1
  h = -1*sum_h / data_size
  w = -1*sum_w / data_size
  b = -1*sum_b / data_size
  return h, w, b

In [0]:
y = np.array(data['Index'])
H = np.array(data['H'])
W = np.array(data['W'])

alpha = .05   # the learning rate
num_iterates = 200

# We'll start with the following initial "guess".
h, w, b = .5, .5, 3
print('(h,w,b) =', (h,w,b))

for i in range(num_iterates):
    new_h, new_w, new_b = delL(y, H, W, h, w, b)
    h = h - alpha*new_h
    w = w - alpha*new_w
    b = b - alpha*new_b

print('(h,w,b) =', (h,w,b))


X = data[['H', 'W']]
y_gd = data['H']*h + data['W']*w + b
y_true = data['Index']

from sklearn.metrics import r2_score
print('Gradient Descent R^2 =', r2_score(y_true, y_gd)) 
print()
print("previous model (h,w,b) = (", old_coef[0], old_coef[1], old_int, ')')
y_gd = data['H']*old_coef[0] + data['W']*old_coef[1] + old_int
print('accuracy using previous weights =', r2_score(y_true, y_gd))

(h,w,b) = (0.5, 0.5, 3)
(h,w,b) = (-0.5725821858068135, 1.0904677159265765, 3.747973780605646)
Gradient Descent R^2 = 0.825906764508032

previous model (h,w,b) = ( -0.5639694978685548 1.0975657806668377 3.739566020220715 )
accuracy using previous weights = 0.825799884390185

In [0]:
# 3 classes
def gradient_3(y, H, W, Z, h, w, z, b):
  loss = y - h*H - w*W - z*Z - b
  h = loss*H
  w = loss*W
  z = loss*Z
  b = loss
  return h, w, z, b


def delL_3(y, H, W, Z, h, w, z, b):
  data_size = 500
  sum_h, sum_w, sum_z, sum_b = 0, 0, 0, 0
  
  for i in range(data_size):
    h1, w1, z1, b1 = gradient_3(y[i], H[i], W[i], Z[i],  h, w, z, b)
    sum_h += h1
    sum_w += w1
    sum_z += z1
    sum_b += b1
  h = -1*sum_h / data_size
  w = -1*sum_w / data_size
  z = -1*sum_z / data_size
  b = -1*sum_b / data_size
  return h, w, z, b

In [0]:
y = np.array(data['Index'])
H = np.array(data['H'])
W = np.array(data['W'])
Z = np.array(data['zBMI'])

data['zBMI'].head()

0   -0.433708
1   -0.960205
2   -0.402777
3   -0.745750
4   -0.736741
Name: zBMI, dtype: float64

In [0]:
alpha = .05   # the learning rate
num_iterates = 5000

# We'll start with the following initial "guess".
h, w, z, b = 2.5, 2.5, 2.5, 3
print('(h,w,z,b) =', (h,w,z,b))

for i in range(num_iterates):
    new_h, new_w, new_z, new_b = delL_3(y, H, W, Z, h, w, z, b)
    h = h - alpha*new_h
    w = w - alpha*new_w
    z = z - alpha*new_z
    b = b - alpha*new_b

print('(h,w,z,b) =', (h,w,z,b))


X = data[['H', 'W', 'zBMI']]
y_gd = data['H']*h + data['W']*w + data['zBMI']*z + b
y_true = data['Index']

print('Gradient Descent R^2 =', r2_score(y_true, y_gd)) 
print()
print("previous model (h,w,z,b) = (", lm.coef_[0], lm.coef_[1], lm.coef_[2], lm.intercept_, ')')
y_gd = data['H']*lm.coef_[0] + data['W']*lm.coef_[1] + data['zBMI']*lm.coef_[2] + lm.intercept_
print('accuracy using previous weights =', r2_score(y_true, y_gd))

(h,w,z,b) = (2.5, 2.5, 2.5, 3)
(h,w,z,b) = (-1.3586479113309295, 2.3119164099619622, -1.4773036134518558, 3.7479999999999967)
Gradient Descent R^2 = 0.867279198121476

previous model (h,w,z,b) = ( -1.3616389746553021 2.3452542091336634 -1.4924087956114167 3.743046281451956 )
accuracy using previous weights = 0.8670509800048822